<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <insert id="save" parameterType="comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment_table (commentWriter,commentContents,boardId,memberId)
            values (#{commentWriter},#{commentContents},#{boardId},#{memberId})
    </insert>

    <select id="findAll" resultType="comment" parameterType="Long">
        select * from comment_table where boardId=#{boardId}
    </select>
</mapper>